#!/usr/bin/env bash
set -u -o pipefail

GROUP={{GROUP_ASSIGN}}
NAME_PREFIX={{NAME_PREFIX_ASSIGN}}
{{HOST_PRELUDE}}{{ATOMIC_GROUP_NODE_RESOLUTION_TAIL}}{{SELECTION_SUPERVISOR_PATH_BLOCK}}{{ATOMIC_GROUP_STOP_FN}}stop_group
